
:focus,
.active{
    border: 5px solid white;
    border-radius: 15px;
    border-color: #ffffff;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 10px #fff;
}

.teaser__img, .teaser__body, .teaser__inner-wrapper, .teaser, .teaser--portrait{
    border-radius: 15px;
}